# Python
venv/
__pycache__/
*.pyc

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docs
*.pdf

# generated project dirs
generated_projects/

# logs
logs/

# Reflex / Frontend
frontend/.web/
frontend/__pycache__/
